.dropdown {
    position: relative;
    width: 100px;
    font-family: Arial,  sans-serif;
    color: black;
}

.dropdown-header {
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-header-active {
    /* background-color: #f0f0f0; */
    /* border: 1px solid #ccc; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-bottom 0.5s ease-in;
    padding-bottom: 10px;
}

.dropdown-list {
    position: absolute;
    width: 100%;
    /* background-color: #fff; */
    /* border: 1px solid #ccc;
    /* border-top: none; */
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 100px;
    overflow-y: auto;
    transition: border-bottom 0.5s ease-in;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.side-bar {
    
}

.textInput {
    border-bottom: 1px solid transparent;
}

.textInput-active {
    border-bottom: 1px solid grey;
    transition: border-bottom 0.5s ease-in;
}



.header-bar {
    width: 100%;
    background-color: var(--background-color);    
}

.logo:hover {
    cursor: pointer;
}

