:root {
  --primary-color: #004aad;
  --secondary-color: #737373;
  --tertiary-color: #000000;
  --background-color: #faf9f9;
  --text-color: black;

  --font-MAX: 50;
  --font-MID: 25;
  --font-MIN: 10;

  --spaces-MAX: 50;
  --spaces-MID: 25;
  --spaces-MIN: 10;

  --sizes-MAX: 50;
  --sizes-MID: 25;
  --sizes-MIN: 10;

  --padding-MAX: 50;
  --padding-MID: 25;
  --padding-MIN: 10;

  --margin-MAX: 50;
  --margin-MID: 25;
  --margin-MIN: 10;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

header {
  width: 100%;
}

footer {
  width: 100%;
}
