:root {
  --primary-color: #004AAD;
  --primary-color-hover: #00367F;
  --primary-color2: #003d8b;
  --secondary-color: white;
  --secondary-color-hover: rgb(141, 141, 141);
  --tertiary-color: #000000;
  --tertiary-color-hover:#202020;
  --background-color: #fff;
  --text-color: black;

  --font-MAX: 50;
  --font-MID: 25;
  --font-MIN: 10;

  --spaces-MAX: 50;
  --spaces-MID: 25;
  --spaces-MIN: 10;

  --sizes-MAX: 50;
  --sizes-MID: 25;
  --sizes-MIN: 10;

  --padding-MAX: 50;
  --padding-MID: 25;
  --padding-MIN: 10;

  --margin-MAX: 50;
  --margin-MID: 25;
  --margin-MIN: 10;
}

/* ::-webkit-scrollbar {
  display: inline-block;
} */

